{% extends 'base.html' %}
    
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid p-4">
            <img src="static/background/octavian-dan-b21Ty33CqVs-unsplash.jpg" alt="cover" width="100%">
        </div>
        <div class="container">
            <div class="row">
                <h1>Latest projects</h1>
                {% for p in project %}
                <div class="col-md-4">  
                    <div class="card" >
                        <img src="{{p.image.url}}" class="card-img-top" alt="{{p.title}}" height="400em">
                        <div class="card-body">
                          <h4 class="card-title text-dark">{{p.title}}</h4>
                          <p class="card-text">{{p.description}}</p>
                          
                          <a href="{% url 'project_detail' p.id %}" class="btn btn-outline-primary">Details</a>
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% endblock %}
    
    
