{% extends 'base.html' %}


{% block content %}

<div class="container text-white">
    <div class="row">
        <div class="col-md-6 ">
            
            <div class="d-flex float-end" style="height: 400px;">
                <div class="vr"></div>
            </div>
            {% if profile %}
            <img src="{{profile.ppic.url}}" alt="ppic" width="300" height="300" class="rounded-circle float-end m-4 ">
            {% endif %}
            
        </div> 
        <div class="col-md-6">
            <div class="container d-flex">
                <p class="text-uppercase fw-bolder m-4">{{user.username}}</p> 
                <a href="{% url 'update_profile' user.id %}" class="m-3"><button class="btn btn-outline-primary fs-6">EDIT PROFILE</button></a>
            </div>

            
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-uppercase fw-bolder m-4">Name</p>    
                        <p class="m-4">{{profile.fname}} {{profile.lname}}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-uppercase fw-bolder m-4">Contact</p>
                        <p class="m-4">{{user.email}}</p>
                        <p class="m-4">{{profile.phone}}</p>
                        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                            <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook"></i></a></li>
                            <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
                            <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                    
                </div>
                <p>BIO:{{profile.bio}}</p>
            </div>
            
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        {% for image in posts%}
        <div class="col-md-4 p-4">
            <img src="{{image.image.url}}" alt="" width="75%"  height="100%">
        </div>
        {% endfor %}
        
    </div>
</div>


{% endblock %}  